<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
                  <mat-card-content>
                      <mat-card-title>Lista de Estados</mat-card-title>
                      <div fxLayoutAlign="end center">
                          <button class="bg-danger" mat-raised-button (click)="openDialog(({type:'new'}))">Crear Estado</button>
                      </div>
                      <div>
                          <table mat-table [dataSource]="dataSource" >
                            <ng-container matColumnDef="estado">
                              <th mat-header-cell *matHeaderCellDef>  Estado </th>
                              <td mat-cell *matCellDef="let element"> {{element.state_Name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="editar">
                              <th mat-header-cell *matHeaderCellDef> Editar </th>
                              <td mat-cell *matCellDef="let element">
                                <mat-icon class="inactivo" (click)="openDialog({type: 'edit', state:element})">edit</mat-icon>
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [pageSize]="5"
                          ></mat-paginator>
                        </div>
                  </mat-card-content>        
          </mat-card>
    </div>
</div>