<mat-form-field fxFlex.gt-xs="100" fxFlex="100">
  <mat-select [formControl]="clientCtrl" placeholder="Clientes" (change)="changeText($event)" [value]="clients" #singleSelect3>
    <mat-option>
      <ngx-mat-select-search [formControl]="clientFilterCtrl" placeholderLabel="Buscar" noEntriesFoundLabel="No se encontró resultado"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let client of filteredClient | async" [value]="client.firstName">
      {{client.firstName}}
    </mat-option>
  </mat-select>
</mat-form-field> 
