<div class="login-register" style="background-image: url(./assets/img/TSR_1.PNG)">
    <div class="login-register-box">
      <mat-card>
        <mat-card-content class="shadow">
            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
                <div class="text-center">
                    <img alt="homepage" src="./assets/img/logo 1.png">
                    <h4>Inicio de Sesión</h4>
                </div>

                <div fxLayout="row wrap">
                    <!-- col full-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-form-field  class="example-full-width">
                            <input matInput placeholder="Correo o usuario" formControlName="email">
                            <mat-icon matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- col full-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" >
                        <mat-form-field  class="example-full-width">
                            <input matInput type="password" placeholder="Contraseña" formControlName="password">
                            <mat-icon matSuffix>visibility_off</mat-icon>
                        </mat-form-field>
                    </div>

                    <!-- col full-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                        <button type="submit" mat-raised-button class="ancho" color="warn" [disabled]="form.invalid">Ingresar</button>
                        
                    </div>
                    <div id="logSpinner" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center noDisplayed">
                        <mat-progress-spinner
                            class="text-right"
                            [color]="color"
                            [mode]="mode"
                            [value]="value"
                            [diameter]="20">
                        </mat-progress-spinner>
                    </div>
                   
                    <div *ngIf="errorMessage === true" class="text-center" style="color:red;">{{mensajeError}}</div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>
  </div>
