<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
                  <mat-card-content>
                      <mat-card-title>Reporte de solicitudes</mat-card-title>
                      <div class="example-container">
                        <form [formGroup]="options">
                            <div>
                                <mat-form-field  fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-label>Estatus</mat-label>
                                    <mat-select placeholder="Seleccione un estatus" formControlName="estatusSol">
                                      <mat-option 
                                              *ngFor="let item of status " 
                                              [value]="item.status_Id" >
                                              {{ item['status_Description'] }}
                                      </mat-option>
                                      </mat-select>
                                </mat-form-field> 
                                <mat-form-field fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-label>Tipo de Operacion</mat-label>
                                    <mat-select placeholder="Seleccione un tipo de operacion" formControlName="type">
                                      <mat-option 
                                              *ngFor="let item of operationTypes " 
                                              [value]="item.operationType_Id" >
                                              {{ item['operationType_Name'] }}
                                      </mat-option>
                                      </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
                                    <mat-label>Seleccione un rango de fechas</mat-label>
                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                    <input matStartDate type="datetime" formControlName="start" placeholder="Fecha inicial">
                                    <input matEndDate type="datetime" placeholder="Fecha Final" formControlName="end">
                                    </mat-date-range-input>
                                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                                <mat-form-field >
                                    <input type="number" matInput placeholder="Folio" formControlName="folio">
                                </mat-form-field>
                                <mat-form-field >
                                    <input matInput placeholder="Núm. de caja" formControlName="numCaja">
                                </mat-form-field>
                            </div>
                          <div>
                              <section class="example-section">
                                <button mat-raised-button color="warn" class="example-margin" (click)="search()">Buscar</button>
                                <button mat-raised-button color="warn" class="example-margin" (click)="setPagination()">Limpiar Filtro</button>
                                <button mat-raised-button color="warn" class="excelColor" (click)="exportExcel()">
                                    <mat-icon>download</mat-icon>
                                    Exportar</button>
                              </section>
                          </div>
                        </form>
                      </div>
                      <div>
                          <table mat-table [dataSource]="dataSource" id="table-report">
                            <ng-container matColumnDef="folio">
                                <th mat-header-cell *matHeaderCellDef>  Folio </th>
                                <td mat-cell *matCellDef="let element"> {{element.serviceRequest_Id}} </td>
                              </ng-container>
                            <ng-container matColumnDef="cliente">
                              <th mat-header-cell *matHeaderCellDef>  Cliente </th>
                              <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                            </ng-container>
                           
                            <ng-container matColumnDef="numCaja">
                                <th mat-header-cell *matHeaderCellDef>  Numero de Caja </th>
                                <td mat-cell *matCellDef="let element"> {{element.box_Number}} </td>
                              </ng-container>
                            
                            <ng-container matColumnDef="operacion">
                                <th mat-header-cell *matHeaderCellDef>  Tipo de operacion </th>
                                <td mat-cell *matCellDef="let element"> {{element.operationType_Name}} </td>
                            </ng-container>
                            
                            
                            <ng-container matColumnDef="stop">
                                <th mat-header-cell *matHeaderCellDef>  STOPs </th>
                                <td mat-cell *matCellDef="let element"> {{element.stop_Number}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef>  Fecha-Hora </th>
                                <td mat-cell *matCellDef="let element"> {{element.creation_Date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="tmw">
                                <th mat-header-cell *matHeaderCellDef>  Orden en TMW </th>
                                <td mat-cell *matCellDef="let element"> {{element.tmwOrder}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estatus">
                                <th mat-header-cell *matHeaderCellDef>  Estatus </th>
                                <td mat-cell *matCellDef="let element"> {{element.status_Description}} </td>
                            </ng-container>

                            <ng-container matColumnDef="manifiesto">
                                <th mat-header-cell *matHeaderCellDef>  Entry/Manifiesto </th>
                                <td mat-cell *matCellDef="let element"> {{element.inward}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ace">
                                <th mat-header-cell *matHeaderCellDef>  ACE </th>
                                <td mat-cell *matCellDef="let element"> {{element.ace}} </td>
                            </ng-container>

                            <ng-container matColumnDef="layout">
                                <th mat-header-cell *matHeaderCellDef>  Layout </th>
                                <td mat-cell *matCellDef="let element"> {{element.layout}} </td>
                            </ng-container>

                            <ng-container matColumnDef="layoutaceptado">
                                <th mat-header-cell *matHeaderCellDef>  Layout Aceptado </th>
                                <td mat-cell *matCellDef="let element"> {{element.layoutAccepteddtm}} </td>
                            </ng-container>

                            <ng-container matColumnDef="aceptadopor">
                                <th mat-header-cell *matHeaderCellDef>  Aceptado por </th>
                                <td mat-cell *matCellDef="let element"> {{element.accepted_By}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cporte">
                                <th mat-header-cell *matHeaderCellDef>  Num. carta porte </th>
                                <td mat-cell *matCellDef="let element"> {{element.consignment_Note}} </td>
                            </ng-container>

                            <ng-container matColumnDef="xml">
                                <th mat-header-cell *matHeaderCellDef>  XML </th>
                                <td mat-cell *matCellDef="let element"> {{element.xml}} </td>
                            </ng-container>

                            <ng-container matColumnDef="pdforiginal">
                                <th mat-header-cell *matHeaderCellDef>  Original </th>
                                <td mat-cell *matCellDef="let element"> {{element.originalPDF}} </td>
                            </ng-container>

                            <ng-container matColumnDef="pdfoperaciones">
                                <th mat-header-cell *matHeaderCellDef>  Operaciones </th>
                                <td mat-cell *matCellDef="let element"> {{element.operationsPDF}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator
                            [pageSizeOptions]="[10, 25, 100, 1000, 2000]"
                            [pageSize]="10"
                          ></mat-paginator>
                        </div>
                  </mat-card-content>        
          </mat-card>
    </div>
</div>