
th.mat-header-cell {
    text-align: revert !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    font-size: smaller;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 2%;
  }
  
  .example-container .mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .example-section {
    margin-left: 35%;
    // margin: 12px 0;
  }

  .example-section-button {
    margin-left: 25%;
    // margin: 12px 0;
  }
  .example-margin {
    margin: 0 30px;
  }
  table {
    width: auto;
    table-layout: fixed;
  }

  th, td {
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

  tr:hover{
    background-color:rgb(221, 221, 221);
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    font-size: smaller;
  }

  .img-redimension {
    width:200px;
    height:40px;
  }

  img {
    width: 35px;
    height: 30px;
  }