<div fxLayout="row wrap">
    <h1>Solicitud de servicio: {{solicitudFolio}}</h1>

    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
                  <mat-card-content>
                      <div class="example-table-container">
                          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                          matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

                            <ng-container matColumnDef="stop">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> Parada </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> {{element.stop_Id}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estatus">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> Estatus </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> {{element.status_Description}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="factMX"> 
                              <th class="mat-cell-cte" mat-header-cell *matHeaderCellDef>Factura MX</th>
                              <td class="center-cell" mat-cell *matCellDef="let element">
                                  <button class="btnBgPdf">
                                    <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol4 || userRole === rol5) && (element.status_Id<5)" id="facMx{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                  </button>
                                  <button id="btnFacMX{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 1)">
                                    <mat-icon class="icon">publish</mat-icon>
                                  </button>
                                  <mat-icon *ngIf="element.invoiceMXCompleted === true && (userRole === rol4 || userRole === rol5 || userRole === rol2)" class="icon" (click)="openOptions(element, 1)">
                                    more_vert
                                  </mat-icon>
                                </td> 
                            </ng-container>
                            
                            <ng-container matColumnDef="factUS">
                              <th class="mat-cell-cte" mat-header-cell *matHeaderCellDef> Factura USA </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol4 || userRole === rol5) && (element.status_Id<5)" id="facUsa{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnFacUSA{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 2)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.invoiceUSACompleted === true && (userRole === rol4 || userRole === rol5 || userRole === rol2)" class="icon" (click)="openOptions(element, 2)">
                                  more_vert
                                </mat-icon>
                              </td> 
                            </ng-container>
                            
                            <ng-container matColumnDef="BOL">
                              <th class="mat-cell-cte" mat-header-cell *matHeaderCellDef> Bill of Lading </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> <button class="btnBgPdf">
                                <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol4 || userRole === rol5) && (element.status_Id<5)" id="bol{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                              </button>
                              <button id="btnBol{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 3)">
                                <mat-icon class="icon">publish</mat-icon>
                              </button>
                              <mat-icon *ngIf="element.bolCompleted === true && (userRole === rol4 || userRole === rol5 || userRole === rol2)" class="icon" (click)="openOptions(element, 3)">
                                  more_vert
                              </mat-icon>
                             </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="InwardManif">
                              <th class="mat-cell-cte" mat-header-cell *matHeaderCellDef> Inward / Manifest </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol4 || userRole === rol5) && (element.status_Id<5)" id="inwd{{element.document_Id}}"  type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnInwd{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 4)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.inwardCompleted === true && (userRole === rol4 || userRole === rol5 || userRole === rol2)" class="icon" (click)="openOptions(element, 4)">
                                  more_vert
                                </mat-icon>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="ACE">
                              <th class="mat-cell-ope" mat-header-cell *matHeaderCellDef> ACE </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol2 || userRole === rol3) && (element.status_Id<5)" id="ace{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnAce{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 5)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.aceCompleted === true && (userRole === rol4 || userRole === rol3 || userRole === rol2)" class="icon" (click)="openOptions(element, 5)">
                                  more_vert
                                </mat-icon>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="layout">
                              <th class="mat-cell-cte" mat-header-cell *matHeaderCellDef> Layout </th>
                              <td class="center-cell" mat-cell *matCellDef="let element">
                                <button class="btnBgXlsx">
                                  <input  *ngIf="element.layoutCompleted === false && (userRole === rol4 || userRole === rol5) && (element.status_Id<5)" id="layout{{element.document_Id}}" type="file" accept=".xls, .xlsx" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button *ngIf="element.layoutCompleted === false" id="btnLayout{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 6)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.layoutCompleted === true && (userRole === rol4 || userRole === rol5 || userRole === rol2 || userRole === rol3)" class="icon" (click)="openOptions(element, 6)">
                                  more_vert
                                </mat-icon>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="layoutAcep">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> Layout Aceptado</th>
                              <td class="center-cell" mat-cell *matCellDef="let element" >
                                <div *ngIf="element.layoutCompleted=== true && (element.accepted_LayoutDC === false) && (element.notAccepted_LayoutDC === false) && (userRole === rol2)">
                                  <button  class="btnIcon" color="primary" (click)="layoutStatusDC(element, ({accepted_Layout: true, notAccepted_Layout:false}))">
                                    <mat-icon class="icon">check_circle</mat-icon>
                                  </button>
                                  ||
                                  <button class="btnIcon" color="primary" (click)="layoutStatusDC(element, ({notAccepted_Layout: true, accepted_Layout:false}))">
                                    <mat-icon class="icon">cancel</mat-icon>
                                  </button>  
                                </div>
                                <mat-icon *ngIf="element.accepted_LayoutDC">check_circle</mat-icon>
                                <mat-icon *ngIf="element.notAccepted_LayoutDC">cancel</mat-icon>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="NumCartPorte">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> Núm. Carta Porte </th>
                              <td class="center-cell" mat-cell *matCellDef="let element" (click)="setCartaPorte(element, userRole)"> {{element.consigment_Note}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="XML">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> XML </th>
                              <td class="center-cell" class="center-cell" mat-cell *matCellDef="let element"> 
                                <button class="btnBgXml">
                                  <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol2) && (element.status_Id<5)" id="xml{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"  accept="text/xml"/>
                                </button>
                                <button id="btnXml{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 7)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.xmlCompleted === true && (userRole === rol4 || userRole === rol2)" class="icon" (click)="openOptions(element, 7)">
                                  more_vert
                                </mat-icon>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="PDFOrig">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> PDF Original </th>
                              <td class="center-cell" mat-cell *matCellDef="let element">
                                <button class="btnBgPdf">
                                  <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol2) && (element.status_Id<5)" id="oriPDF{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnOriPDF{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element,8)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.originalPDFCompleted === true && (userRole === rol4 || userRole === rol2)" class="icon" (click)="openOptions(element, 7)">
                                  more_vert
                                </mat-icon>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="PDFOper">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> PDF operacional </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input *ngIf="element.notAccepted_LayoutDC === false && (userRole === rol2) && (element.status_Id<5)" id="opPDF{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnOpPDF{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 9)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <mat-icon *ngIf="element.operationsPDFCompleted === true && (userRole === rol4 || userRole === rol2)" class="icon" (click)="openOptions(element, 9)">
                                  more_vert
                                </mat-icon>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="comentarios">
                              <th class="mat-cell-adm" mat-header-cell *matHeaderCellDef> Comentarios </th>
                              <td class="center-cell" mat-cell *matCellDef="let element"> 
                                <button  id="btnOpPDF{{element.document_Id}}" class="btnIcon" color="primary" (click)="openComments(element)">
                                  <mat-icon class="icon">chat</mat-icon>
                                </button>
                              </td>
                            </ng-container>                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                      </div>
                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      [pageSize]="5"
                    ></mat-paginator>
                  </mat-card-content>        
          </mat-card>
    </div>
  </div>
