<div fxLayout="row wrap">
    <h1>Solicitudes de servicio de transporte</h1>

    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
                  <mat-card-content>
                      <div class="example-table-container">
                          <table mat-table [dataSource]="dataSource" class="example-table"
                          matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

                            <ng-container matColumnDef="folio" sticky>
                              <th mat-header-cell *matHeaderCellDef> Folio </th>
                              <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                            </ng-container>
                            <ng-container matColumnDef="estatus" sticky>
                              <th mat-header-cell *matHeaderCellDef> Estatus </th>
                              <td mat-cell *matCellDef="let element"> {{element.status_Description}} </td>
                            </ng-container> -->
                            
                            <ng-container matColumnDef="factMX" sticky> 
                              <th mat-header-cell *matHeaderCellDef>Factura MX</th>
                              <td mat-cell *matCellDef="let element">
                                  <button class="btnBgPdf">
                                    <input id="facMx{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                  </button>
                                  <button id="btnFacMX{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 1)">
                                    <mat-icon class="icon">publish</mat-icon>
                                  </button>
                                </td> 
                            </ng-container>
                            
                            <ng-container matColumnDef="factUS" sticky>
                              <th mat-header-cell *matHeaderCellDef> Factura USA </th>
                              <td mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input id="facUsa{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnFacUSA{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 2)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                              </td> 
                            </ng-container>
                            
                            <ng-container matColumnDef="BOL" sticky>
                              <th mat-header-cell *matHeaderCellDef> Bill of Lading </th>
                              <td mat-cell *matCellDef="let element"> <button class="btnBgPdf">
                                <input id="bol{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                              </button>
                              <button id="btnBol{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 3)">
                                <mat-icon class="icon">publish</mat-icon>
                              </button>
                             </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="InwardManif" sticky>
                              <th mat-header-cell *matHeaderCellDef> Inward / Manifest </th>
                              <td mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input id="inwd{{element.document_Id}}"  type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnInwd{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 4)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="ACE" sticky>
                              <th mat-header-cell *matHeaderCellDef> ACE </th>
                              <td mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input id="ace{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnAce{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 5)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="layout" sticky>
                              <th mat-header-cell *matHeaderCellDef> layout </th>
                              <td mat-cell *matCellDef="let element">
                                <button class="btnBgXlsx">
                                  <input *ngIf="element.layoutCompleted === false" id="layout{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button *ngIf="element.layoutCompleted === false" id="btnLayout{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 6)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                                <button *ngIf="element.layoutCompleted === true" id="btnLayout{{element.document_Id}}" class="btnIcon" color="primary" (click)="downloadFile(element.layout, element.layoutFN, element.serviceRequest_Id)">
                                  <mat-icon class="icon">file_download</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="layoutAcep" sticky>
                              <th mat-header-cell *matHeaderCellDef> Layout Aceptado </th>
                              <td mat-cell *matCellDef="let element"> {{element.accepted_Layout}} </td>
                            </ng-container> -->
                            
                            <ng-container matColumnDef="NumCartPorte" sticky>
                              <th mat-header-cell *matHeaderCellDef> Núm. Carta Porte </th>
                              <td mat-cell *matCellDef="let element" (click)="setCartaPorte(element)"> {{element.consigment_Note}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="XML" sticky>
                              <th mat-header-cell *matHeaderCellDef> XML </th>
                              <td mat-cell *matCellDef="let element"> 
                                <button class="btnBgXml">
                                  <input id="xml{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"  accept="text/xml"/>
                                </button>
                                <button id="btnXml{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 7)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="PDFOrig" sticky>
                              <th mat-header-cell *matHeaderCellDef> PDF Original </th>
                              <td mat-cell *matCellDef="let element">
                                <button class="btnBgPdf">
                                  <input id="oriPDF{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnOriPDF{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element,8)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="PDFOper" sticky>
                              <th mat-header-cell *matHeaderCellDef> PDF operacional </th>
                              <td mat-cell *matCellDef="let element"> 
                                <button class="btnBgPdf">
                                  <input id="opPDF{{element.document_Id}}" type="file" class="fileStyle" (change)="selectFile($event, element.document_Id)"/>
                                </button>
                                <button id="btnOpPDF{{element.document_Id}}" class="noDisplayed" color="primary" (click)="uploadFile(element, 9)">
                                  <mat-icon class="icon">publish</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="comentarios" sticky>
                              <th mat-header-cell *matHeaderCellDef> Comentarios </th>
                              <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
                            </ng-container>                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                      </div>
                      <mat-paginator
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      [pageSize]="5"
                    ></mat-paginator>
                  </mat-card-content>        
          </mat-card>
    </div>
  </div>
