
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TCA_TSR_FrontEnd-primary: mat.define-palette(mat.$indigo-palette);
$TCA_TSR_FrontEnd-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TCA_TSR_FrontEnd-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TCA_TSR_FrontEnd-theme: mat.define-light-theme((
  color: (
    primary: $TCA_TSR_FrontEnd-primary,
    accent: $TCA_TSR_FrontEnd-accent,
    warn: $TCA_TSR_FrontEnd-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TCA_TSR_FrontEnd-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

table{
  width: 100%;
}

.green-snackbar {
  background: #34d813;
  color:#ffffff
}

.red-snackbar {
  background: #f80808;
  color:#ffffff
}

.activo{
  color: green
}

.inactivo {
  color: red
}

.imagen {
  /* height: 100px;
  width: 133px;
  text-align: center; */
  border-radius: 15px;
  padding: 5px;
  width: 120px;
}


.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
  margin: 0;
}



.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
  margin: 0;
}

.bg-danger {
background-color:#e53935;
color: white;

}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab{
  color: #ffffff;
}

.closeBtn {
  background-color: rgb(121, 121, 121);
}

.actionBtn {
  background-color: #e53935;
}

.responsiveDiv {    
  overflow-x: auto;
}
.excelColor {
  background-color: rgb(29, 111, 66) !important;
}

.btnBgPdf{
  background: url('./assets/svg/PDF.svg');
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
  border: none;
}

.btnBgXlsx{
  background: url('./assets/svg/Excel.svg');
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
  border: none;
}

.btnBgXml{
  background: url('./assets/svg/XML.svg');
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
  border: none;
}

.fileStyle {
  text-indent: -999em;
  outline: none;
  width: 35px;
  height: 30px;
  position: initial;
}

.icon-display{
  transform: scale(2);
}

.noDisplayed{
  display: none;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: break-spaces;
}
.icon{
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    overflow: hidden;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color:blue;
    vertical-align: middle;
}

.btnIcon{
  appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: contents;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.mat-cell-ope{
  background-color: #ff0000 !important;
  color: white !important;
  text-align: center !important;
  border-right: .1rem solid #000000;
}

.mat-cell-adm{
  background-color: #ff6060 !important;
  color: white !important;
  text-align: center !important;
  border-right: .1rem solid #000000;
}

.mat-cell-cte{
  background-color: #aa0000 !important;
  color: white !important;  
  text-align: center !important;
  border-right: .1rem solid #000000;
}

.center-cell{
  text-align: center !important;
}