<div fxLayout="row wrap" fxLayoutAlign="space-between stretch">

    <form fxLayout="row wrap" fxFlex="100" [formGroup]="userTypesForm">
            <div fxFlex.gt-sm="100"  fxFlex="100" class=" danger">
                    <div fxLayout="row wrap " fxLayoutAlign="space-between stretch" class="p-30">
                            <h3 fxFlex="100" class="text-bold text-center m-b-20 m-t-0">Tipo de usuario</h3>
                                <input matInput placeholder="id" formControlName="userTypeId"
                                        [errorStateMatcher]="matcher" hidden>
                            <mat-form-field fxFlex.gt-xs="100" fxFlex="100">
                                    <input matInput placeholder="Nombre" formControlName="userType_Name"
                                            [errorStateMatcher]="matcher">
                                    <mat-error> Este campo es requerido </mat-error>
                            </mat-form-field>
                            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end" class="p-t-30 m-auto">
                                    <div fxFlex="50" fxLayoutAlign="center center">
                                            <button [disabled]="userTypesForm.invalid" *ngIf="type === 'new'" class="actionBtn" mat-raised-button (click)="this.createUserType()"> Crear </button>
                                            <button [disabled]="userTypesForm.invalid" *ngIf="type === 'edit'" class="actionBtn" mat-raised-button (click)="this.updateUserType()"> Editar </button>

                                    </div>
                                    <div fxFlex="50"  fxLayoutAlign="center center">
                                            <button mat-raised-button class="closeBtn" (click)="dialogRef.close()"> Cerrar </button>
                                    </div>
                            </div>
                            
                    </div>
            </div>
           
    </form>
</div>
